body{
	background-color:#efefef;
}

nav
{
	#padding-left: 50px;
	#padding-right: 200px;
}

body
{
	padding-top: 80px;
}
.navbar-brand
{
	font-size: 20px;
	color: white !important;
}
textarea
{
	resize: none;
}

.footdiv{
	margin:0 auto; text-align: center; color:#9d9d9d;
}

.email:hover{background:url(../img/mail_icon.png) left -27px no-repeat;}
.email{ height: 35px; display:inline-block; line-height:35px; padding-left:20px; background:url(../img/mail_icon.png) left 11px no-repeat; margin-right:9px;color:#666;TEXT-ALIGN: left;text-decoration: none;}